/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4093098 */
  src: url('//at.alicdn.com/t/c/font_4093098_xob2wnc9qu.woff2?t=1691158500056') format('woff2'),
       url('//at.alicdn.com/t/c/font_4093098_xob2wnc9qu.woff?t=1691158500056') format('woff'),
       url('//at.alicdn.com/t/c/font_4093098_xob2wnc9qu.ttf?t=1691158500056') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuliu:before {
  content: "\e75f";
}

.icon-wancheng:before {
  content: "\e633";
}

.icon-qianbao:before {
  content: "\e6e6";
}

.icon-wenjian:before {
  content: "\e63c";
}

.icon-shousuo:before {
  content: "\e687";
}

.icon-yiquxiao:before {
  content: "\e70c";
}